<%= link_to "タスク一覧へ", tasks_path, {class: "btn btn-primary mx-1"} %>
<%= form_with model: task do |form| %>
  <div class="mb-3">
    <%= form.label :タスク %><br>
    <%= form.text_field :title %>
  </div>

  <div class="mb-3">
    <%= form.label :詳細 %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit :送信, class: "btn btn-primary mx-1" %>
  </div>
<% end %>